* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

:root {
  --card-color: hsl(0, 0%, 100%);
  --bodybg: hsl(212, 45%, 89%);
  --text-color: hsl(220, 15%, 55%);
  --title-color: hsl(218, 44%, 22%);
  --link-color: hsl(228, 45%, 44%);
  --attribution-color: hsl(218, 44%, 22%);
  --theme-border: hsl(192, 45%, 44%);
}

.dark {
  --card-color: hsl(212, 45%, 89%);
  --bodybg: #232323;
  --text-color: hsl(218, 44%, 22%);
  --title-color: #232323;
  --link-color: hsl(192, 45%, 44%);
  --attribution-color: white;
  --theme-border: hsl(34, 78%, 74%);
}

@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: local("Outfit Regular"), local("Outfit-Regular"), url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0Ew.woff2) format("woff2");
  font-weight: weight("regular");
}
@font-face {
  font-family: "Outfit";
  font-display: swap;
  src: local("Outfit Bold"), local("Outfit-Bold"), url(https://fonts.gstatic.com/s/outfit/v11/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1O4a0Ew.woff2) format("woff2");
  font-weight: weight("bold");
}
body, .dark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  background: var(--bodybg);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 26.5em;
  height: 40em;
  background: var(--card-color);
  border-radius: 1.8em;
  gap: 2em;
}
.card .card__qr {
  margin-top: 1.2em;
  width: 24em;
  border-radius: 0.8em;
}
.card .container__text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 24em;
  gap: 1em;
  margin-bottom: 2em;
}
.card .container__text-container .card-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.9em;
  color: var(--title-color);
}
.card .container__text-container .informative-text {
  width: 17.5em;
  text-align: center;
  font-weight: 400;
  font-size: 1.35em;
  line-height: 1.2em;
  color: var(--text-color);
}
@media (max-width: 480px) {
  .card {
    position: relative;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    width: clamp(20em, 90vw, 50em);
    gap: 1em;
    height: clamp(28em, 135vw, 43em);
  }
  .card .card__qr {
    width: clamp(14em, 81vw, 34em);
    margin: 1.15em 0 0.3em 0;
  }
  .card .container__text-container {
    gap: 1.5em;
  }
  .card .container__text-container .card-title {
    font-size: clamp(4vw, 6.5vw, 1.5em);
    width: clamp(12em, 60vw, 25em);
  }
  .card .container__text-container .informative-text {
    font-size: clamp(1vw, 4.5vw, 1.3em);
    width: clamp(17em, 75vw, 38em);
  }
}
.card .attribution {
  color: var(--attribution-color);
  font-size: 0.8em;
  text-align: center;
}
.card .attribution a {
  color: var(--link-color);
}

.themes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  top: 1em;
  right: 1em;
  gap: 1em;
}
.themes .label::before {
  content: "";
  background: url("../../images/light-mode.png");
  background-repeat: no-repeat;
  width: 2em;
  height: 1.9em;
  background-size: cover;
  border-radius: 50%;
  border: 0.1em solid var(--theme-border);
}
.themes .theme-switcher {
  display: none;
}
.themes .theme-switcher:checked + .label::before {
  content: "";
  background: url("../../images/dark-mode.png");
  background-repeat: no-repeat;
  width: 2em;
  height: 1.9em;
  background-size: cover;
  border-radius: 50%;
  border: 0.1em solid var(--theme-border);
}
.themes .label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 2em;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 1.5em;
  font-weight: bolder;
}
.themes .label img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

/* Override specific styles for screens up to 456px *//*# sourceMappingURL=styles.css.map */