$mobile: 375px;
$tablet: 768px;
$large: 1024px;
$desktop: 1280px;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$cobalt-blue: hsl(228, 45%, 44%);

$defaul-title-color: $white, $dark-blue;
$default-text-color: $white, $grayish-blue;

$dark-title-color: $dark-blue, $white;
$dark-text-color: $dark-blue, $light-gray;

$font-weight: (
  "regular": 400,
  "bold": 700,
);
$breakPoints: (
  xs: (
    min: 375,
    max: 374.98,
  ),
  sm: (
    min: 462px,
    max: 461.98,
  ),
);
@mixin respond-to($breakpoint) {
  @if map-has-key($breakPoints, $breakpoint) {
    $query: map-get(map-get($breakPoints, $breakpoint), min) + 1;
    @media screen and (max-width: #{$query}px) {
      @content;
    }
  } @else {
    @error "The provided breakpoint '#{$breakpoint}' does not exist in $breakPoints.";
  }
}
@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}
@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  flex-wrap: nowrap;
}

.attribution {
  font-size: 0.8em;
  text-align: center;
}
