@import "./resets";
@import "./variables";

:root {
  $card-color: hsl(0, 0%, 100%);
  $bodybg: hsl(212, 45%, 89%);
  $text-color: hsl(220, 15%, 55%);
  $title-color: hsl(218, 44%, 22%);
  $link-color: hsl(228, 45%, 44%);
}
body {
  @include flex-center(column);
  height: 100vh;
  background: $bodybg;
}

.card {
  @include flex-center(column);

  width: 26.5em;
  height: 40em;
  justify-content: flex-start;
  background: $card-color;
  border-radius: 1.8em;
  gap: 2em;

  .card__qr {
    margin-top: 1.2em;
    width: 24em;

    border-radius: 0.8em;
  }

  .container__text-container {
    @include flex-center(column);

    width: 24em;
    gap: 1em;
    margin-bottom: 2em;

    .card-title {
      text-align: center;
      font-weight: weight(bold);
      font-size: 1.9em;
      color: $title-color;
    }

    .informative-text {
      width: 17.5em;
      text-align: center;
      font-weight: weight(regular);
      font-size: 1.35em;
      line-height: 1.2em;
      color: $text-color;
    }
  }

  @include media("sm") {
    position: relative;
    margin: 0 auto;
    justify-self: center;
    align-self: center;
    width: clamp(20em, 90vw, 50em);
    gap: 1em;
    height: clamp(28em, 135vw, 43em);
    .card__qr {
      width: clamp(14em, 81vw, 34em);
      margin: 1.15em 0 0.3em 0;
    }
    .container__text-container {
      gap: 1.5em;
      .card-title {
        font-size: clamp(4vw, 6.5vw, 1.5em);
        width: clamp(12em, 60vw, 25em);
      }
      .informative-text {
        font-size: clamp(1vw, 4.5vw, 1.3em);

        width: clamp(17em, 75vw, 38em);
      }
    }
  }
}
.themes {
  @include flex-center(row);
  position: absolute;
  top: 1em;
  right: 1em;
  gap: 1em;

  .radio {
    display: none;
    &:checked + .label {
      transform: scale(1.2);
    }
    &:checked + .dark-label {
    }
    &:checked + .light-label {
    }
  }

  .label {
    @include flex-center(row);
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-size: 1.5em;
    font-size: bolder;

    img {
      width: 2em;
      height: 2em;
      border-radius: 50%;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  .dark-label {
    @extend .label;
  }
  .light-label {
    @extend .label;
    background: $card-color;
    color: $orange;
  }
}
.attribution {
  color: $title-color;
  a {
    color: $link-color;
  }
}

/* Override specific styles for screens up to 456px */
