@import "./resets";
@import "./variables";

body {
  @include flex-center(column);
  height: 100vh;
  background: $light-gray;
}

.card {
  @include flex-center(column);
  @include respond-to(xs) {
    width: 90vw;
    gap: 1em;
    height: 35em;
  }
  width: 26.5em;
  height: 40em;
  justify-content: flex-start;
  background: $white;
  border-radius: 2em;
  gap: 2em;

  .card__qr {
    margin-top: 1.2em;
    width: 24em;
    @include respond-to(xs) {
      width: 82vw;
      margin: 1em 0;
    }
    border-radius: 0.8em;
  }

  .container__text-container {
    @include flex-center(column);
    @include respond-to(xs) {
      width: 78vw;
      margin-bottom: 1em;
    }
    width: 24em;
    gap: 1em;
    margin-bottom: 2em;

    .card-title {
      @include respond-to(xs) {
        font-size: 1.5em;
        width: 19.03rem;
      }

      text-align: center;
      font-weight: weight(bold);
      font-size: 1.9em;
      color: $dark-blue;
    }

    .informative-text {
      @include respond-to(xs) {
        font-size: 1.2em;
        width: 21rem;
      }
      width: 17.5em;
      text-align: center;
      font-weight: weight(regular);
      font-size: 1.35em;
      line-height: 1.2em;
      color: $grayish-blue;
    }
  }
}

/* Override specific styles for screens up to 456px */
